.header {
  background: url("../img/header-bg.png") no-repeat 50% 50%;
  background-size: cover;
  position: relative; }
  .header__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../img/header-bg-overlay.png") no-repeat 50% 50%;
    background-size: cover;
    width: 100%;
    height: 100%; }
  .header__inner {
    position: relative;
    width: 1200px;
    margin: 0 auto; }
  .header__info {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .header__info .logo_main {
      margin: 2rem 0;
      flex-basis: 10%; }
    .header__info .nav {
      display: flex;
      flex-direction: row;
      flex-basis: 60%;
      justify-content: space-evenly; }
      .header__info .nav__list {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 1.5rem;
        color: var(--color-white); }
      .header__info .nav__list > *:hover {
        color: var(--color-main);
        transition: all .5s;
        cursor: pointer; }
      .header__info .nav__list > *:not(:nth-child(6)) {
        border-right: 1px solid var(--color-brown);
        padding-right: 2rem; }
    .header__info .phone {
      flex-basis: 15%; }
      .header__info .phone__text {
        color: var(--color-white);
        font-size: 1.4rem;
        text-align: end; }
      .header__info .phone__number {
        color: var(--color-white);
        font-size: 1.9rem;
        text-align: end; }
    .header__info .button {
      flex-basis: 15%; }
      .header__info .button_main {
        color: var(--color-white);
        font-size: 1.3rem;
        padding: 1.8rem 2.3rem;
        background-color: var(--color-main);
        outline: none;
        border-radius: 30px;
        text-transform: uppercase; }
        .header__info .button_main-top {
          padding: 1.8rem 2.3rem;
          border: none;
          cursor: pointer; }
  .header__titles {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .header__titles_top {
      font-size: 2.4rem;
      margin-bottom: 2rem; }
    .header__titles_central {
      font-size: 7.2rem;
      color: var(--color-main);
      font-weight: bold;
      text-transform: uppercase; }
    .header__titles_bottom {
      font-size: 4.2rem;
      text-transform: uppercase; }
  .header__decorate {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4.2rem 0; }
    .header__decorate .decorate_left {
      flex-basis: 37%;
      height: 2px;
      color: var(--color-white);
      margin: 0;
      padding: 0; }
    .header__decorate .decorate_right {
      flex-basis: 37%;
      height: 2px;
      color: var(--color-white);
      margin: 0;
      padding: 0; }
    .header__decorate .decorate_circle {
      flex-basis: 1%;
      height: 12px;
      background-color: var(--color-white);
      margin: 0;
      padding: 0;
      border-radius: 50%;
      margin: 0 2rem; }
  .header__variants {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 25%;
    align-items: baseline; }
    .header__variants .variants__items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .header__variants .variants__items .variants__text {
        font-size: 1.6rem;
        color: var(--color-white);
        text-align: center;
        padding: 1.5rem 1rem;
        margin: 0; }
    .header__variants .variants__items > * + * {
      margin: 1.5rem 0; }
  .header__button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .header__button .button_main-bottom {
      margin: 4.2rem 0 6rem 0;
      color: var(--color-white);
      font-size: 1.3rem;
      padding: 2.3rem 4.8rem;
      background-color: var(--color-main);
      outline: none;
      border-radius: 30px;
      text-transform: uppercase;
      font-weight: bold;
      border: none;
      cursor: pointer; }

.advantages {
  background: var(--color-bg-grey); }
  .advantages__inner {
    position: relative;
    width: 1200px;
    margin: 0 auto; }
    .advantages__inner .advantages__title {
      width: 100%;
      text-align: center;
      font-size: 2.6rem;
      padding: 3rem 0;
      text-transform: uppercase;
      font-weight: bold; }
    .advantages__inner .advantages__items {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
    .advantages__inner .advantages__items_left-group,
    .advantages__inner .advantages__items_right-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      justify-content: flex-start;
      margin-top: 2rem;
      margin-bottom: 6rem; }
      .advantages__inner .advantages__items_left-group .advantages__items_left,
      .advantages__inner .advantages__items_left-group .advantages__items_right,
      .advantages__inner .advantages__items_right-group .advantages__items_left,
      .advantages__inner .advantages__items_right-group .advantages__items_right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-content: space-around; }
        .advantages__inner .advantages__items_left-group .advantages__items_left .advantages__item-logo,
        .advantages__inner .advantages__items_left-group .advantages__items_right .advantages__item-logo,
        .advantages__inner .advantages__items_right-group .advantages__items_left .advantages__item-logo,
        .advantages__inner .advantages__items_right-group .advantages__items_right .advantages__item-logo {
          padding-top: 1rem; }
        .advantages__inner .advantages__items_left-group .advantages__items_left .advantages__info,
        .advantages__inner .advantages__items_left-group .advantages__items_right .advantages__info,
        .advantages__inner .advantages__items_right-group .advantages__items_left .advantages__info,
        .advantages__inner .advantages__items_right-group .advantages__items_right .advantages__info {
          margin-bottom: 3rem;
          margin-left: 1.5rem; }
          .advantages__inner .advantages__items_left-group .advantages__items_left .advantages__info .advantages__item-title,
          .advantages__inner .advantages__items_left-group .advantages__items_right .advantages__info .advantages__item-title,
          .advantages__inner .advantages__items_right-group .advantages__items_left .advantages__info .advantages__item-title,
          .advantages__inner .advantages__items_right-group .advantages__items_right .advantages__info .advantages__item-title {
            color: var(--color-main);
            font-size: 1.6rem;
            margin-bottom: 1rem;
            font-weight: bold; }
          .advantages__inner .advantages__items_left-group .advantages__items_left .advantages__info .advantages__item-text,
          .advantages__inner .advantages__items_left-group .advantages__items_right .advantages__info .advantages__item-text,
          .advantages__inner .advantages__items_right-group .advantages__items_left .advantages__info .advantages__item-text,
          .advantages__inner .advantages__items_right-group .advantages__items_right .advantages__info .advantages__item-text {
            font-size: 1.6rem; }

.agent {
  background: url("../img/agent-bg.png") no-repeat 50% 50%;
  background-size: cover;
  color: var(--color-white); }
  .agent__inner {
    width: 1200px;
    margin: 0 auto; }
  .agent__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    padding-bottom: 8rem; }
  .agent__logo {
    width: 10rem;
    height: 10rem;
    border: 1px solid var(--color-white);
    border-radius: 50%;
    margin-top: 6rem; }
    .agent__logo img {
      display: inline-block;
      line-height: 50%;
      margin-left: 25%;
      margin-top: 20%; }
  .agent__title {
    font-size: 2.6rem;
    font-weight: bold;
    margin: 1.5rem 0 1.5rem 0; }
  .agent__text {
    font-size: 1.9rem;
    line-height: 2.7rem;
    width: 90%;
    text-align: center; }

.client {
  background-color: var(--color-white); }
  .client__inner {
    position: relative;
    width: 1200px;
    margin: 0 auto; }
  .client__title {
    padding: 3rem 1rem 2rem 1rem;
    font-size: 2.6rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold; }
  .client__subtitle {
    padding: 1rem 1rem 1rem 1rem;
    font-size: 2.6rem;
    text-align: center; }
  .client__slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .client__slider .slider__item {
      margin: 5rem 2rem 6rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .client__slider .slider__item .slider__img {
        margin-bottom: 2rem; }
      .client__slider .slider__item .slider__name {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem; }
      .client__slider .slider__item .slider__text {
        font-size: 1.4rem;
        line-height: 1.9rem;
        font-weight: 300;
        text-align: justify; }
      .client__slider .slider__item .slider__img img {
        border-radius: 50%; }

.footer {
  background: var(--color-bg-title);
  color: var(--color-white); }
  .footer__inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .footer__inner-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      padding-top: 3rem;
      padding-bottom: 3rem;
      border-bottom: 1px solid grey;
      font-size: 1.4rem; }
      .footer__inner-top .footer__logo {
        flex-basis: 10%; }
      .footer__inner-top .footer__title {
        flex-basis: 60%; }
      .footer__inner-top .footer__phone-text {
        flex-basis: 15%; }
      .footer__inner-top .footer__phone-number {
        flex-basis: 15%; }
    .footer__inner-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      padding-top: 3rem;
      padding-bottom: 3rem;
      font-size: 1.4rem; }
      .footer__inner-bottom .footer-bottom__copyright {
        flex-basis: 10%; }
      .footer__inner-bottom .footer-bottom__text {
        flex-basis: 80%; }
        .footer__inner-bottom .footer-bottom__text a {
          text-decoration: none;
          color: var(--color-main);
          margin-left: 5rem; }
      .footer__inner-bottom .footer-bottom__logo {
        flex-basis: 15%; }
        .footer__inner-bottom .footer-bottom__logo > * {
          display: inline-block; }
        .footer__inner-bottom .footer-bottom__logo-text {
          vertical-align: middle;
          padding-bottom: 2rem;
          margin-right: 1rem; }

.question-form {
  background: url("../../img/form-bg.png");
  position: relative; }
  .question-form__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../img/header-bg-overlay.png") no-repeat 50% 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.5; }
  .question-form__inner {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 6rem; }
  .question-form__inner-overlay {
    background: url("../../img/form-overlay.png") no-repeat 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .question-form__header {
    color: var(--color-white);
    background-color: var(--color-bg-title);
    width: 100%;
    margin: 0;
    padding: 0; }
  .question-form__title {
    font-size: 1.9rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding-top: 1.5rem; }
  .question-form__subtitle {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    padding-bottom: 1.5rem; }
  .question-form__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-wrap: wrap; }
    .question-form__content input {
      flex-basis: 30%;
      margin-top: 1.5rem;
      padding: 1.8rem 0 1.8rem 2.2rem;
      border-radius: 3rem;
      border: 1px solid var(--color-form);
      background-color: var(--color-white);
      font-family: 'Roboto', sans-serif;
      color: var(--color-form);
      font-weight: 300; }
    .question-form__content input:nth-child(1) {
      margin-left: 3rem; }
    .question-form__content input:nth-child(3) {
      margin-right: 3rem; }
    .question-form__content textarea {
      flex-basis: 100%;
      margin: 1.5rem 3rem 1.5rem 3rem;
      padding-left: 2.2rem;
      padding-top: 1.8rem;
      background-color: var(--color-white);
      font-family: 'Roboto', sans-serif;
      border-radius: 10px;
      border: 0.5px solid var(--color-form);
      color: var(--color-form);
      font-weight: 300;
      max-height: 8rem;
      max-width: 100%; }
  .question-form__button {
    background-color: var(--color-main);
    border: 1px solid var(--color-main);
    margin: 1rem 0 3rem 0;
    border-radius: 30px; }
    .question-form__button button {
      padding: 1.3rem 2.3rem;
      cursor: pointer;
      background-color: var(--color-main);
      color: var(--color-white);
      font-size: 1.3rem;
      border-radius: 30px;
      text-transform: uppercase;
      border: none;
      outline: none; }

.manage {
  background: url("../img/manage-bg.png") no-repeat 50% 50%;
  background-size: cover;
  color: var(--color-white); }
  .manage__inner {
    width: 1200px;
    margin: 0 auto; }
  .manage__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    padding-bottom: 8rem; }
  .manage__logo {
    width: 10rem;
    height: 10rem;
    border: 1px solid var(--color-white);
    border-radius: 50%;
    margin-top: 6rem; }
    .manage__logo img {
      display: inline-block;
      line-height: 50%;
      margin-left: 25%;
      margin-top: 20%; }
  .manage__title {
    font-size: 2.6rem;
    font-weight: bold;
    margin: 1.5rem 0 1.5rem 0; }
  .manage__text {
    font-size: 1.9rem;
    line-height: 2.7rem;
    width: 90%;
    text-align: center; }

.price {
  background-color: var(--color-white); }
  .price__inner {
    position: relative;
    width: 1200px;
    margin: 0 auto; }
  .price__title {
    padding: 3rem 1rem 2rem 1rem;
    font-size: 2.6rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold; }
  .price__subtitle {
    padding: 1rem 1rem 1rem 1rem;
    font-size: 2.6rem;
    text-align: center; }
  .price .choice__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .price .choice__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-brown);
    justify-content: space-between; }
  .price .choice__items > * + * {
    margin-bottom: 1.5rem; }
  .price .choice__items:not(:nth-child(4)) {
    margin-right: 2rem; }
  .price .choice__title {
    font-size: 1.6rem;
    text-transform: uppercase;
    background-color: var(--color-bg-title);
    width: 99.5%;
    height: 6.2rem;
    color: var(--color-white);
    padding: 2.2rem 5.6rem;
    text-align: center; }
  .price .choice__days {
    font-size: 1.6rem; }
  .price .choice__price {
    font-size: 2rem;
    color: var(--color-main); }
  .price .choice__text {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 300; }
  .price .choice__button {
    font-size: 1.3rem;
    padding: 1.8rem 2.3rem;
    background-color: var(--color-main);
    outline: none;
    border-radius: 30px;
    text-transform: uppercase;
    border: none;
    cursor: pointer; }
    .price .choice__button_bottom {
      background-color: var(--color-main);
      border: none;
      color: var(--color-white); }
  .price__form-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .price__form-title {
    padding: 3rem 1rem 2rem 1rem;
    font-size: 2.6rem;
    text-align: center;
    font-weight: 400; }
  .price__form fieldset {
    margin: 3rem 1rem 8rem 1rem;
    position: relative;
    width: 100%; }
    .price__form fieldset .price__form-logo {
      width: 8rem;
      height: 8rem;
      border: 1px solid var(--color-main);
      border-radius: 50%;
      margin: 0 auto; }
      .price__form fieldset .price__form-logo img {
        margin-left: .8rem;
        margin-top: .5rem; }
    .price__form fieldset .price__form-btnOverlay {
      width: 20rem;
      background-color: var(--color-white);
      z-index: 1;
      position: absolute;
      left: 50rem;
      bottom: -2.8rem; }
      .price__form fieldset .price__form-btnOverlay .price__form-button {
        width: 18rem;
        background-color: var(--color-main);
        z-index: 2;
        border: 1px solid transparent;
        border-radius: 30px;
        margin: 0 auto; }
        .price__form fieldset .price__form-btnOverlay .price__form-button button {
          margin-left: .7rem;
          background-color: var(--color-main);
          color: var(--color-white);
          border: 1px solid transparent;
          border-radius: 30px;
          font-size: 1.4rem;
          padding: 1.8rem 2.2rem; }
  .price__form-inputs {
    margin-top: 5rem;
    margin-bottom: 8rem; }
    .price__form-inputs form {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .price__form-inputs form input {
        flex-basis: 25%;
        height: 5rem;
        border: 1px solid transparent;
        border-radius: 30px;
        color: var(--color-main);
        padding-left: 1.5rem;
        font-size: 1.4rem;
        font-weight: 700; }
    .price__form-inputs form > :nth-child(1) {
      margin-left: 14rem; }
    .price__form-inputs form > :nth-child(3) {
      margin-right: 14rem; }

.scheme {
  background-color: var(--color-bg-grey); }
  .scheme__inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .scheme__title {
    padding: 3rem 1rem 2rem 1rem;
    font-size: 2.6rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold; }
  .scheme__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3rem; }
    .scheme__items_bottom {
      width: 70%; }
      .scheme__items_bottom .scheme__item {
        flex-basis: 33.33333%; }
    .scheme__items_top .scheme__item {
      flex-basis: 25%; }
  .scheme__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    padding: 0 2rem;
    justify-content: stretch; }
    .scheme__item-title {
      color: var(--color-main); }
    .scheme__item-text {
      font-weight: 300;
      text-align: center; }
  .scheme__item > * + * {
    margin-bottom: 1.5rem; }

.work {
  background-color: var(--color-white); }
  .work__inner {
    position: relative;
    width: 1200px;
    margin: 0 auto; }
  .work__title {
    padding: 3rem 1rem 2rem 1rem;
    font-size: 2.6rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold; }
  .work__subtitle {
    padding: 1rem 1rem 1rem 1rem;
    font-size: 2.6rem;
    text-align: center; }
  .work__examples {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .work__examples .examples__inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 3rem 0 5rem 0;
      width: 36rem; }
      .work__examples .examples__inner > :nth-child(2) {
        color: var(--color-main);
        font-size: 1.8rem;
        margin-top: 2rem;
        font-weight: bold; }
      .work__examples .examples__inner-item {
        margin: .5rem 0;
        font-size: 1.6rem;
        text-align: justify;
        font-weight: 300;
        line-height: 2.2rem; }

:root {
  --color-brown: #333;
  --color-white: #fff;
  --color-main: rgb(236, 100, 75);
  --color-bg-title: rgb(37,51,60);
  --color-bg-grey: rgb(243, 243, 243);
  --color-form: #b1afa9; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
::before,
::after {
  box-sizing: inherit; }

body {
  margin: 0;
  page-break-after: 0;
  font-family: 'Roboto', sans-serif; }

/*# sourceMappingURL=main.css.map */
