@mixin flexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}

@mixin flexColumns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@import "sections/header";
@import "sections/advantages";
@import "sections/agent";
@import "sections/client";
@import "sections/footer";
@import "sections/form";
@import "sections/manage";
@import "sections/map";
@import "sections/price";
@import "sections/scheme";
@import "sections/work";



:root {
    --color-brown: #333;
    --color-white: #fff;
    --color-main: rgb(236, 100, 75);
    --color-bg-title: rgb(37,51,60);
    --color-bg-grey: rgb(243, 243, 243);
    --color-form: #b1afa9;
}




html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    page-break-after: 0;
    font-family: 'Roboto', sans-serif;
}