.footer {
    background: var(--color-bg-title);
    color: var(--color-white);
    &__inner {
        position: relative;
        width: 1200px;
        margin: 0 auto;
        @include flexColumns;
        &-top {
            @include flexRow;
            width: 100%;
            align-items: center;
            padding-top: 3rem;
            padding-bottom: 3rem;
            border-bottom: 1px solid grey;
            font-size: 1.4rem;
            .footer__logo{
                flex-basis: 10%;
            
            }
            .footer__title{
                flex-basis: 60%;
            }
            .footer__phone-text{
                flex-basis: 15%;
            }
            .footer__phone-number{
                flex-basis: 15%;
            }
            .footer__button {
                
                button {
                    padding: 1.8rem 2.2rem;
                    background-color: var(--color-main);
                    border: none;
                    border-radius: 100px;
                    font-size: 1.4rem;
                    color: var(--color-white);
                    text-transform: uppercase;
                    
                    }
                button:focus,
                button:visited,
                button:active,
                button:hover {
                    outline: none; 
                    background-color: var(--color-white);
                    color: var(--color-main);
                    border: none;
                    cursor: pointer;
            }
            }
        }
        &-bottom {
            @include flexRow;
            width: 100%;
            align-items: center;
            padding-top: 3rem;
            padding-bottom: 3rem;
            font-size: 1.4rem;
            .footer-bottom__copyright {
                flex-basis: 10%;
            }
            .footer-bottom__text {
                flex-basis: 80%;
                a {
                    text-decoration: none;
                    color: var(--color-main);
                    margin-left: 5rem;
                }
            }
            .footer-bottom__logo {
                flex-basis: 15%;
                & > * {
                    display: inline-block;
                }
                &-text {
                    vertical-align: middle;
                    padding-bottom: 2rem;
                    margin-right: 1rem;
                }
            }
           
        }
    }
}