.question-form {
    background: url('../../img/form-bg.png');
    position: relative;
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url("../img/header-bg-overlay.png") no-repeat 50% 50%;
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        
    }
    &__inner {
        position: relative;
        width: 1000px;
        margin: 0 auto;
        padding-top: 3rem;
        padding-bottom: 6rem;
      
    }
    &__inner-overlay {
        background: url('../../img/form-overlay.png') no-repeat 50% 50%;
        background-size: cover;
        @include flexColumns;
        
    }
    &__header {
        color: var(--color-white);
        background-color: var(--color-bg-title);
        width: 100%;
        margin: 0;
        padding: 0;
    }
    &__title {
        font-size: 1.9rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        padding-top: 1.5rem;
    }
    &__subtitle {
        font-size: 1.4rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: 300;
        padding-bottom: 1.5rem;
    }
    &__content {
        @include flexRow;
        width: 100%;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
        input {
            flex-basis: 30%;
            margin-top: 1.5rem;
            padding: 1.8rem 0 1.8rem 2.2rem;
            border-radius: 3rem;
            border: 1px solid var(--color-form);
            background-color: var(--color-white);
            font-family: 'Roboto', sans-serif;
            color: var(--color-form);
            font-weight: 300;
        }
        input:nth-child(1) {
            margin-left: 3rem;
        }
        input:nth-child(3) {
            margin-right: 3rem;
        }
        textarea {
            flex-basis: 100%;
            margin: 1.5rem 3rem 1.5rem 3rem;
            padding-left: 2.2rem;
            padding-top: 1.8rem;
            background-color: var(--color-white);
            font-family: 'Roboto', sans-serif;
            border-radius: 10px;
            border: .5px solid var(--color-form);
            color: var(--color-form);
            font-weight: 300;
            max-height: 8rem;
            max-width: 100%;
        }
    }
    &__button {
        background-color: var(--color-main);
        border: 1px solid var(--color-main);
        margin: 1rem 0 3rem 0;
        border-radius: 30px;
        button {
            padding: 1.3rem 2.3rem;
            cursor: pointer;
            background-color: var(--color-main);
            color: var(--color-white);
            font-size: 1.3rem;
            border-radius: 30px;
            text-transform: uppercase;
            border: none;
            outline: none;
        }
    }
    
}