.price {
    background-color: var(--color-white);
    &__inner {
        position: relative;
        width: 1200px;
        margin: 0 auto;
    }
    &__title {
        padding: 3rem 1rem 2rem 1rem;
        font-size: 2.6rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }
    &__subtitle {
        padding: 1rem 1rem 1rem 1rem;
        font-size: 2.6rem;
        text-align: center;
    }
    .choice {
        &__inner {
        @include flexRow;
        }
        &__items {
        @include flexColumns;
        }
    }
    &__form {
        &-inner {
            @include flexColumns;
        }

    }
}