.scheme {
    background-color: var(--color-bg-grey);
    &__inner {
        position: relative;
        width: 1200px;
        margin: 0 auto;
        @include flexColumns;
    }
    &__title {
        padding: 3rem 1rem 2rem 1rem;
        font-size: 2.6rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }
    &__items {
        @include flexRow;
        padding-bottom: 3rem;
        &_bottom {
            width: 70%;
            .scheme__item {
                flex-basis: 33.33333%;
            }
        }
        &_top {
            .scheme__item {
                flex-basis: 25%;
            }
        }
    }
    &__item {
        @include flexColumns;
        font-size: 1.4rem;
        padding: 0 2rem;
        justify-content: stretch;
        &-logo {

        }
        &-title {
            color: var(--color-main);
        }
        &-text {
            font-weight: 300;
            text-align: center;
        }
    }
    &__item > * + * {
        margin-bottom: 1.5rem;
    }
}